// ==============================================
// BASE STYLES - Estilos globales del perfil
// ==============================================

.word-break-all {
  word-break: break-all !important;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.icon-visibility-off {
  height: 1rem;
  color: var(--pgn-color-gray-500);
}
