// ==============================================
// USERNAME DESCRIPTION - Descripción del nombre de usuario
// ==============================================

.username-description {
  width: auto;
  position: absolute;
  left: 1.5rem;
  top: 5.25rem;
  color: var(--pgn-color-gray-500);
  line-height: 0.9rem;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  margin-left: 0.9rem;
}
